.Search-block {
    position: absolute;
    background-color: white;
    border-radius: 50px;
    max-width: 400px;
    width: 92vw;
    height: 48px;
    cursor: text;
    box-shadow: 0 1px 2px #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    padding: 0 14px;
}

.Search-block:hover {
    box-shadow: 0 2px 4px #000000aa;
}

.Search-block input {
    padding-right: 9px;
}

.Search-block .Search-icon {
    color: var(--gray-26-color);
    font-size: 24px;
    cursor: pointer;
}

.Search-block .Search-form {
    width: 100%;
}