.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
}

.App-header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.App-header .Logo-block {
  background-color: #27AE60;
  box-shadow: 0 1px 2px #00000033;
  width: 255px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.App-header .Logo-block:hover {
  box-shadow: 0 2px 4px #000000aa;
}

.App-header .Logo-block .App-logo {
  height: 80%;
  padding: 5px;
}

.App-header .Logo-block .App-logo-text {
  font-size: 44px;
  padding-top: 16px;
  font-weight: bold;
}

.App-header .Search-block {
  background-color: #fcfcfc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width: 24%;
  cursor: pointer;
  box-shadow: 0 1px 2px #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.App-header .Search-block:hover {
  box-shadow: 0 2px 4px #000000aa;
}

.App-header .Search-block .Search-icon {
  color: #333;
}

.App-header .Login-block {
  background-color: #333;
  box-shadow: 0 1px 2px #00000033;
  width: 255px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.App-header .Login-block:hover {
  box-shadow: 0 2px 4px #000000aa;
}

.App-header .Login-block .App-login-text {
  font-size: 44px;
  font-weight: bold;
  color: #fcfcfc;
}

/* .App-footer {
  width: 100%;
  background-color: #444;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 4px #000000aa;
  color: #fcfcfc;
} */