.Center-block {
    height: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Favorites-block {
    padding: 20px;
    height: 50vh;
    width: 100%;
}

.My-kavers-block {
    height: 50vh;
    width: 100%;
    padding: 20px;
    display: inline-flex;
}