#main {
    min-height: 100vh;
}

.Center-block {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
    width: 0;
    height: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}